[user]
    name = Eero Vehmanen
    email = eero.vehmanen@gmail.com
[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    st = status
    dmerged = !git branch --merged master | grep -v \"\\*\" | grep -v \"  master\" | xargs -n 1 git branch -D
    backup = !git checkout -b backup/$(git rev-parse --abbrev-ref HEAD)/$(date +%Y%m%d-%H%M%S) && git checkout -
    branches = !git for-each-ref --color=always --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' | tail -15
[branch]
    autosetuprebase = always
[color]
    ui = true
[core]
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitignore
    pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[push]
    default = current
[rerere]
    enabled = true
[url "git@github.com"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@heroku.com"]
    insteadOf = "heroku:"
